                         /*csslint ids: false, box-model: false*/
                         
                         body {
                             background-image: url(/images/BackgroundGreyGridSprite.png);
                             font-family: 'Exo', sans-serif;
                             font-size: 25px;
                         }
                         
                         img {
                             max-width: 100%;
                         }
                         
                         h3 {
                             margin: 5em 0 1em 0;
                         }
                         
                         p {
                             margin: 0 5em 0 5em;
                             padding: 5px 0 5px;
                         }
                         /*headers***************************************************************************/
                         
                         h1 {
                             color: darkred;
                             margin: 15px 0;
                         }
                         
                         h2 {
                             color: darkred;
                             margin: -5px 0 0;
                         }
                         /*                    header {}*/
                         /*footer****************************************************************************/
                         
                         footer {
                             clear: both;
                             padding-top: 50px;
                             text-align: center;
                         }
                         
                         .social-media-icon {
                             margin: 0 5px;
                         }
                         /*links******************************************************************************/
                         
                         a {
                             color: darkred;
                             text-decoration: none;
                         }